In [1]:
import pandas as pd

df = pd.read_csv('../results/specific_domain_pred_true.csv')

In [2]:
df.head()

,sentence,subj_name,subj_type,obj_name,obj_type,relation
0,"[E1] 삼성전자 [/E1] 가 [E2] 인도 [/E2] , 중국 시장을 겨냥해 ...",삼성전자,ORGANIZATION,인도,COUNTRY,다음 국가의 것임(country)
1,"[E1] 삼성전자 [/E1] 가 인도, [E2] 중국 [/E2] 시장을 겨냥해 ...",삼성전자,ORGANIZATION,중국,COUNTRY,다음 국가의 것임(country)
2,"[E1] 삼성전자 [/E1] 가 인도, 중국 시장을 겨냥해 혁신기술을 넣은 중저가 ...",삼성전자,ORGANIZATION,스마트폰,TERM,해당 개체의 제품(product or material produced)
3,"삼성전자가 [E1] 인도 [/E1] , [E2] 중국 [/E2] 시장을 겨냥해...",인도,COUNTRY,중국,COUNTRY,수교국(diplomatic relation)
4,"삼성전자가 [E1] 인도 [/E1] , 중국 시장을 겨냥해 혁신기술을 넣은 중저가...",인도,COUNTRY,스마트폰,TERM,해당 개체의 제품(product or material produced)

In [3]:
import re

def convert_relation(rel_string):
    """
    Example:
        rel_string = '다음 국가의 것임(country)'

    Return:
        '다음_국가의_것임'
    """
    # 괄호 제거
    rel_string = re.sub(r'\([^)]*\)','', rel_string)
    
    rel_string = re.sub('·', '_', rel_string)
    
    string_list = rel_string.split()
    
    return '_'.join(string_list)

In [4]:
df['converted_relation'] = df['relation'].apply(lambda x: convert_relation(x))

In [5]:
df.head()

,sentence,subj_name,subj_type,obj_name,obj_type,relation,converted_relation
0,"[E1] 삼성전자 [/E1] 가 [E2] 인도 [/E2] , 중국 시장을 겨냥해 ...",삼성전자,ORGANIZATION,인도,COUNTRY,다음 국가의 것임(country),다음_국가의_것임
1,"[E1] 삼성전자 [/E1] 가 인도, [E2] 중국 [/E2] 시장을 겨냥해 ...",삼성전자,ORGANIZATION,중국,COUNTRY,다음 국가의 것임(country),다음_국가의_것임
2,"[E1] 삼성전자 [/E1] 가 인도, 중국 시장을 겨냥해 혁신기술을 넣은 중저가 ...",삼성전자,ORGANIZATION,스마트폰,TERM,해당 개체의 제품(product or material produced),해당_개체의_제품
3,"삼성전자가 [E1] 인도 [/E1] , [E2] 중국 [/E2] 시장을 겨냥해...",인도,COUNTRY,중국,COUNTRY,수교국(diplomatic relation),수교국
4,"삼성전자가 [E1] 인도 [/E1] , 중국 시장을 겨냥해 혁신기술을 넣은 중저가...",인도,COUNTRY,스마트폰,TERM,해당 개체의 제품(product or material produced),해당_개체의_제품

In [13]:
df[['subj_name', 'converted_relation', 'obj_name']].head()

  subj_name converted_relation obj_name
0      삼성전자          다음_국가의_것임       인도
1      삼성전자          다음_국가의_것임       중국
2      삼성전자          해당_개체의_제품     스마트폰
3        인도                수교국       중국
4        인도          해당_개체의_제품     스마트폰

In [14]:
triples_df = df[['subj_name', 'converted_relation', 'obj_name']]

In [15]:
triples_df.to_csv('../results/news_domain_kg.csv', index=False, header=False)